.container {
  display: flex;
}

.vertical-sidebar {
  flex: 1;
  background-color: #323e4d;
  height: 100vh;
}

.main {
  flex: 6;
  background-color: #fafafa;
  height: 100vh;
}

.main-card {
  width: 360px;
  margin-top: 120px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 2px;
}
