.form-container {
  padding: 13px;
  background-color: #edf7fc;
}

.task-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 8px;
}

.date-and-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.date-time-col {
  display: flex;
  flex-direction: column;
  width: 31%;
}

.assign-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-form-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn {
  background-color: #edf7fc;
  border: 0px;
  cursor: pointer;
}

.save-and-cancel {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn {
  margin-right: 10px;
  background-color: #edf7fc;
  border: 0px;
  cursor: pointer;
}

.save-btn {
  background-color: #47bb7f;
  color: #ffffff;
  padding: 7px 20px;
  margin-left: 10px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
